page-dashboard {

}

.navbar-logo {
  width: 30px;
  margin-left: 85px;
  display: block;
}

.dashboard-main {
  background-color: #1A0407 !important;
}

.gold {
  color: #F8B55B !important;
  margin-bottom: 0 !important;

}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.container h2, .container p{
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}

.stat-container {
  width: 24%;
  padding: 15px;
  text-align: center;
  display: inline-block;
}

.stat-container img {
  margin-bottom: 5px;
}

.stat-container .stat {
  font-size: 9px !important;
}
.stat-container p {
  font-size: 12px;
}
.green {
  color: green !important;
}

.red {
  color: red !important;
}

.orange {
  color: orange !important;
}

.back-btn {
  color: #333232 !important;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  //position: absolute;
  z-index: 99999;
}

.img-item a {
  cursor: pointer;

  height: 35px;
  width: 35px;
}

.popover-md .popover-content {
  background: transparent !important;
  width: inherit;
  left: 71px !important;
  top: 61px !important;
  box-shadow: none;
}

ion-icon {
  font-size: 1.8em;
}
