page-talents {
}
.talents {
  padding: 20px;
  margin: 0;
}

.talents:first-of-type {
  display: none;
}

.talents:nth-child(odd) {
  background-color: #F6CB92;
}
.talents:nth-child(even) {
  background-color: #F9C176;
}

.choose-talent {
  background-color: #1A0407;
  width: 100%;
  height:120px;
  color: white;
  text-align: center;
}
.item-talent {
  display: inline-block;
  padding:15px;
}

.item-talent p {
  margin-top: 2px;
}

.talent-opacity {
  opacity: 0.4;
}

.talents h4 {
  margin-right: 20px;
}