<!--
  Generated template for the HautfaitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/imgs/logo2.png" class="navbar-logo" /></ion-title>
    <ion-buttons end>
      <button ion-button (click)="doClick()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <!--<div *ngFor="let character of characters">-->
    <!--<div *ngFor="let achievements of character.achievements.achievementsCompleted; let i=index">-->
      <!--<div *ngIf="i < 2">-->
        <!--{{achievements}}-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</ion-content>
